 .img-upload{
    background: none repeat scroll 0 0 #fafafa;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
  }

.img-remove{
    display: block;
    font-size: 9px;
    height: 15px;
    padding: 1px;
    position: absolute;
    width: 15px;
}

.img-container{
    background-color: #f7f7f7;
    border: 1px solid #c6c6c6;
    border-radius: 4px;
    box-shadow: 0 0 6px #c6c6c6 inset;
    height: 200px;
    overflow: hidden;
    text-align: center;
}


.preview{
    background-color: #f7f7f7;
    border: 1px solid #c6c6c6;
    border-radius: 4px;
    box-shadow: 0 0 6px #c6c6c6 inset;
    overflow: hidden;
    text-align: center;
}

.preview-sm{
    height: 90px;
    width: 160px;
}

.preview-xs{
    height: 36px;
    width: 64px;
}

.docs-toolbar{
    margin-bottom: 5px;
    margin-top: 10px;
    text-align: center;
}

.docs-data > .input-group > .input-group-addon {
    min-width: 70px;
}

.docs-data  input{
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.preview-item-md{
    margin-bottom: 5px
}

.img-data{
    padding: 0px
}
