

a.btn.deformSeqAdd{
	border-radius: 50%;
	font-size: 14px;
	margin-right: 5px;
	margin-top: -28px;
	padding: 0 5px 1px;
	width: 30px;
	color: white;
}

.deformSeqItem a.deformClosebutton{
	border-radius: 50%;
	font-size: 14px;
	padding: 0;
	width: 24px;
}