

a.btn.deformSeqAdd{
	border-radius: 50%;
	font-size: 14px;
	margin-right: 5px;
	margin-top: -28px;
	padding: 1px 5px 2px;
	width: 25px;
}

.deformSeqItem a.deformClosebutton{
	border-radius: 50%;
	font-size: 14px;
	padding: 0 0 1px;
	width: 24px;
}